$types: alkaliMetal lanthanides nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;
$step: 360deg / length($types);
@mixin landscape {
  @media (min-width: 1400px) {
    @content;
  }
}
.el {
  background-color: lightgray;
}
@each $type in $types {
  .el--#{$type} {
    $index: index($types, $type);
    background-color: hsl($step * $index, 75%, 70%);
  }
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
article {
  margin: 3px;
}
p {
  text-align: center;
  margin: 2vh;
  font-size: 18px;
}
abbr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  font-weight: bold;
  font-size: 24px;
}

@include landscape {
  .el__name {
    font-size: 10px;
  }
  body {
    grid-template-rows: repeat(9, 13.11vh);
    grid-template-columns: repeat(18, 5.55vw);
  }
  @for $i from 1 through 9 {
    [data-period="#{$i}"] {
      grid-row: $i;
    }
  }
  @for $i from 1 through 18 {
    [data-group="#{$i}"] {
      grid-column: $i;
    }
  }
}
